<div flex="auto"  >

        <ui-carousel   ng-if="settings.inputType == 'Image'" style="margin: 0 auto;" 

            slides="slides"
            slides-to-show="1"
            slides-to-scroll="1"
            initial-slide="0"
            autoplay="settings.autoScrollEnabled"
            autoplay-speed="settings.autoplaySpeed"
            on-init="onCarouselInit()"
            on-after-change="onAfterChange(currentSlide)"
            fade="true"
            dots="true" >

            <carousel-item  >

                <img  ng-src="{{ item.path }}" resize  ratio="56.25"  >

            </carousel-item>


        </ui-carousel>
  
  </div>