<div class="modal-header">
	<h3 class="modal-title">Solar panel</h3> 
</div>
<div class="modal-body">
	<ul class="list-group">
  		<li class="list-group-item">Sun rises at: {{sunrise}}</li>
  		<li class="list-group-item">Sun sets at: {{sunset}}</li>
  		<li class="list-group-item">Clouds: {{cloudsPercentage}}%</li>
  		<li ng-class="generatedPower > 0 ? 'list-group-item-success' : 'list-group-item-danger'" class="list-group-item">
  			Currently generating: {{generatedPower}} KW
  		</li>
	</ul>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
