.ui-carousel {
    width: 100%; 
    height:100%;
    display: block;
}


.ui-carousel  img {
  width:900px ; 
  height: 506px;
  object-fit: fill;
  display: block;
}

.ui-carousel  video {
  width:900px ; 
  height: 506px;
  object-fit: fill;
  display: block;
}



.buttons {
    padding: 0 20px 20px;
    margin-bottom: 10px; 
}



.button:hover {
    text-decoration: none; 
}

.vertical-sliders {
  margin: 0;
}

.vertical-sliders > div {
  height: 250px;
  background-color: red;
}


video::-webkit-media-controls-fullscreen-button {
    display: none;
}

